@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fe34c1;
  --secondary-color: #903aff;
  --background-color: #150e28;
  --mixed-gradient: linear-gradient(
    to right,
    var(--color1),
    50%,
    var(--color2)
  );
}

/* Enable smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  padding: none;
  margin: none;
}

select:focus::-ms-value {
  color: #000;
  background-color: #fff;
}
select::-ms-expand {
  display: none;
}

.border-bottom {
  box-shadow: 0 0 10px rgba(161, 161, 161, 0.2); /* Adjust the color and spread radius as needed */
}

.border-bottom::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(
    161,
    161,
    161,
    0.4
  ); /* Adjust the color and opacity as needed */
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes blink {
  0% {
    opacity: 0.2; /* Start with low opacity */
  }
  50% {
    opacity: 1; /* Fully visible at mid-point */
  }
  100% {
    opacity: 0.2; /* Back to low opacity */
  }
}

.blink-animation {
  animation: blink 1.5s infinite; /* Animate with the blink keyframes */
}

@keyframes roll {
  0% {
    transform: rotate(0deg); /* Start with no rotation */
  }
  100% {
    transform: rotate(360deg); /* Rotate to 360 degrees (one full rotation) */
  }
}

.rolling-animation {
  animation: roll 5s linear infinite; /* Animate with the roll keyframes */
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease-in-out;
}

.animate-slideOut {
  animation: slideOut 0.5s ease-in-out;
}

.hovered-link {
  position: relative;
}

.hovered-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--primary-color);
  bottom: 0;
  left: 0;
  padding-top: 3px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.hovered-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

@keyframes openToClose {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes closeToOpen {
  0% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes leftToRight {
  from {
    transform: translateX(-100%);
    visibility: hidden;
    opacity: 0;
  }
  to {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes RightToLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes topToBottom {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeZoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.fade-zoom-in {
  animation: fadeZoomIn 2s ease-in-out;
}

.animate-left-to-right {
  animation: leftToRight 2s forwards;
}

.animate-right-to-left {
  animation: RightToLeft 2s forwards;
}

.animate-top-to-bottom {
  animation: topToBottom 2s forwards;
}
