@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fe34c1;
  --secondary-color: #903aff;
  --background-color: #150e28;
  --mixed-gradient: linear-gradient(
    to right,
    var(--color1),
    50%,
    var(--color2)
  );
}

body {
  box-sizing: border-box;
  padding: none;
  margin: none;
}

.border-bottom {
  box-shadow: 0 0 10px rgba(161, 161, 161, 0.2); /* Adjust the color and spread radius as needed */
}

.border-bottom::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(
    161,
    161,
    161,
    0.4
  ); /* Adjust the color and opacity as needed */
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes blink {
  0% {
    opacity: 0.2; /* Start with low opacity */
  }
  50% {
    opacity: 1; /* Fully visible at mid-point */
  }
  100% {
    opacity: 0.2; /* Back to low opacity */
  }
}

.blink-animation {
  animation: blink 1.5s infinite; /* Animate with the blink keyframes */
}

@keyframes roll {
  0% {
    transform: rotate(0deg); /* Start with no rotation */
  }
  100% {
    transform: rotate(360deg); /* Rotate to 360 degrees (one full rotation) */
  }
}

.rolling-animation {
  animation: roll 5s linear infinite; /* Animate with the roll keyframes */
}
